<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
        <meta name="theme-color" content="#0097CE"/>
        <title>Arma tu fiesta</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/componentsStyle.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/activities.css">

        <!-- Scripts -->
    </head>
    <body class="fiesta-bckgr">
        <!-- Main Content -->
        <div class="content flex-div">
            <nav></nav>

            <section id="main-section">
                <!-- BBVA Activity Title -->
                <header>
                    <div class="btn-rtrn-cnt">
                        <!-- Return Button -->
                        <a href="../index.html">
                            <div class="btn-rtrn cnt-h50 bbva-font-book">
                                <div class="rtrn-arrw-cnt pull-left">
                                    <img class="vertical-align" src="../../resources/images/Elementos_Actividad_ahorro/Ico_flecha_regresar.png" alt="" />
                                </div>
                                <div class="rtrn-txt-cnt pull-left">
                                    <div class="rtrn-txt vertical-align">
                                        Regresa a Actividades
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Activity/Calculator icon -->
                    <div class="ttl-ico-cnt">
                        <img class="ttl-ico" src="../../resources/img/icons/home/Ico_Menu_Fiesta.svg" alt="" />
                    </div>
                    <!-- Activity/Calculator title -->
                    <div class="ttl-txt-cont">
                        <div class="main-ttl-activity">
                            <p>
                                Arma tu fiesta
                            </p>
                        </div>
                    </div>
                </header>
                <!-- Here's where Magic happens -->
                <article>
                    <div class="bbva-content">
                        <div class="lit-row">
                            <hr class="bbva-separator-full">
                            <div class="main-dsc-activity">
                                <p>
                                    En esta actividad podrás identificar la importancia que tiene
                                    mantener una Inflación baja y estable, y el impacto que tiene en
                                    tus finanzas una Inflación alta y volátil.
                                </p>
                                <p>
                                    A continuación da clic sobre cada producto que desees comprar.
                                </p>
                                <p>
                                    Cuentas con $500 y 30 segundos para hacerlo.
                                </p>
                            </div>
                        </div>
                    </div>

                </article>

                <footer></footer>

            </section>

            <aside></aside>

        </div>
    </body>
</html>
