<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
        <meta name="theme-color" content="#0097CE"/>
        <title>Arma tu fiesta</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/componentsStyle.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/activities.css">

        <!-- Scripts -->
    </head>
    <body class="fiesta-bckgr">
        <!-- Main Content -->
        <div class="content flex-div">
            <nav></nav>

            <section id="main-section">
                <!-- BBVA Activity Title -->
                <header>
                    <div class="bbva-content">
                        <div class="btn-rtrn-cnt">
                            <!-- Return Button -->
                            <a href="../index.html">
                                <div class="btn-rtrn cnt-h50 bbva-font-book">
                                    <div class="rtrn-arrw-cnt pull-left">
                                        <img class="vertical-align" src="../../resources/images/Elementos_Actividad_ahorro/Ico_flecha_regresar.png" alt="" />
                                    </div>
                                    <div class="rtrn-txt-cnt pull-left">
                                        <div class="rtrn-txt vertical-align">
                                            Regresa a Actividades
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Activity/Calculator icon -->
                        <div class="ttl-ico-cnt">
                            <img class="ttl-ico" src="../resources/img/icons/home/Ico_Menu_Fiesta.svg" alt="" />
                        </div>
                        <!-- Activity/Calculator title -->
                        <div class="ttl-txt-cont">
                            <div class="main-ttl-activity">
                                <p>
                                    Arma tu fiesta
                                </p>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Here's where Magic happens -->
                <article>
                    <div class="bbva-content">
                        <div class="lit-row">
                            <hr class="bbva-separator-full">
                            <div class="main-dsc-activity">
                                <p>
                                    Has decidido organizar una fiesta el viernes por la tarde a la cual invitarás a 3 amigos.
                                </p>
                                <p>
                                    Compra lo necesario. Cuentas con $100. ¡Suerte!
                                </p>
                            </div>
                        </div>

                        <div class="lit-row topMargin100">
                            <button class="blue-bbva-button" type="button" name="button">Comenzar</button>
                        </div>
                    </div>

                    <div class="bbva-content-fluid">
                        <div class="lit-row">
                            <!-- Round 1 -->
                            <div id="round1" class="cmn-block round-cnt topMargin90">
                                <!-- Header -->
                                <div class="lit-row">
                                    <div class="sxty-clmn-lwys-full padding-lf-mid">
                                        <div class="cmn-block">
                                            <div class="bbva-blue-nrml cnt-h40">
                                                <div class="dnts-ttl vertical-align">
                                                    Insumos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Precio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Cantidad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="lit-row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Agua
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Globos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Platos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Música
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Feedback -->
                                <div class="lit-row">
                                  <div class="cmn-block">
                                    <div class="lit-row">
                                      <!-- Feedback container -->
                                      <div id="firstFeed"class="fdbk-cnt bbva-blue-lghtr cnt-p20">
                                          <div class="fdbk-img-cnt">
                                              <img class="fdbk-img vertical-align" src="../../resources/images/Elementos_Actividad_ahorro/Manoa_respuesta_C.png" alt="" />
                                          </div>
                                          <div class="fdbk-txt-cnt">
                                              <div class="fdbk-txt vertical-align">
                                                  <article>
                                                      <p>
                                                          ¡Oh! Has utilizado todo tu presupuesto y llegaron 2 personas más a tu fiesta.
                                                      </p>
                                                      <p>
                                                          Te aumentamos tu presupuesto a $300 para que compres lo que te falta.
                                                      </p>
                                                      <p>
                                                          Compra lo necesario para 5 invitados.
                                                      </p>

                                                  </article>

                                              </div>
                                          </div>
                                      </div>

                                    </div>
                                    <div class="lit-row">
                                      <button class="blue-bbva-button" type="button" name="button">Ronda 2</button>

                                    </div>

                                  </div>


                                </div>


                            </div>
                            <!-- Round 2 -->
                            <div id="round2"class="cmn-block round-cnt topMargin90">
                                <!-- Header -->
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full padding-lf-mid">
                                        <div class="cmn-block">
                                            <div class="bbva-blue-nrml cnt-h40">
                                                <div class="dnts-ttl vertical-align">
                                                    Insumos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Precio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Cantidad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Agua
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Globos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Platos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Música
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Feedback -->
                                <div class="lit-row">
                                  <div class="cmn-block">
                                    <div class="lit-row">
                                      <!-- Feedback container -->
                                      <div id="firstFeed"class="fdbk-cnt bbva-blue-lghtr cnt-p20">
                                          <div class="fdbk-img-cnt">
                                              <img class="fdbk-img vertical-align" src="../../resources/images/Elementos_Actividad_ahorro/Manoa_respuesta_C.png" alt="" />
                                          </div>
                                          <div class="fdbk-txt-cnt">
                                              <div class="fdbk-txt vertical-align">
                                                  <article>
                                                      <p>
                                                          ¡Oh! Has utilizado todo tu presupuesto y llegaron 5 personas más a tu fiesta.
                                                      </p>
                                                      <p>
                                                          Te aumentamos tu presupuesto a $500 para que compres lo que te falta.
                                                      </p>
                                                      <p>
                                                          Compra lo necesario para 10 invitados.
                                                      </p>

                                                  </article>

                                              </div>
                                          </div>
                                      </div>

                                    </div>
                                    <div class="lit-row">
                                      <button class="blue-bbva-button" type="button" name="button">Ronda 3</button>

                                    </div>

                                  </div>


                                </div>
                            </div>
                            <!-- Round 3 -->
                            <div id="round3"class="cmn-block round-cnt topMargin90">
                                <!-- Header -->
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full padding-lf-mid">
                                        <div class="cmn-block">
                                            <div class="bbva-blue-nrml cnt-h40">
                                                <div class="dnts-ttl vertical-align">
                                                    Insumos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Precio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Cantidad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Rows -->
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Agua
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Globos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Platos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sxty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">
                                                        Música
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frty-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="dnts-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Feedback -->
                                <div class="lit-row">
                                  <div class="cmn-block">
                                    <div class="lit-row">
                                      <!-- Feedback container -->
                                      <div class="fdbk-cnt bbva-blue-lghtr cnt-p20">
                                          <div class="fdbk-img-cnt">
                                              <img class="fdbk-img vertical-align" src="../../resources/images/Elementos_Actividad_ahorro/Manoa_respuesta_C.png" alt="" />
                                          </div>
                                          <div class="fdbk-txt-cnt">
                                              <div class="fdbk-txt vertical-align">
                                                  <article>
                                                      <p>
                                                          ¡FELICIDADES!
                                                      </p>
                                                      <p>
                                                          ¡Tu fiesta fue un éxito!
                                                      </p>
                                                      <p>
                                                          Tus invitados estuvieron muy satisfechos.
                                                      </p>

                                                  </article>

                                              </div>
                                          </div>
                                      </div>

                                    </div>
                                    <div class="lit-row">
                                        <div class="main-dsc-activity">
                                            <p>
                                                ¿Recuerdas que compraste para tu fiesta?
                                            </p>
                                        </div>

                                    </div>
                                    <div class="lit-row">
                                      <button class="blue-bbva-button" type="button" name="button"> Ver Resultados </button>

                                    </div>

                                  </div>


                                </div>
                            </div>
                            <!--  -->
                            <div class="cmn-block topMargin100">
                                <div class="thrty-clmn">

                                </div>
                                <div class="thrty-clmn">

                                </div>
                                <div class="thrty-clmn">

                                </div>
                            </div>

                        </div>

                    </div>

                </article>

                <footer></footer>

            </section>

            <aside></aside>

        </div>
    </body>
</html>
