<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
        <meta name="theme-color" content="#0097CE"/>
        <title>Construye tus sueños</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/componentsStyle.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/activities.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/alertify.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/themes/bootstrap.css">
        <!-- Scripts -->
        <script type="text/javascript" src="../resources/js/Frameworks/Jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../resources/js/navArrows.js"></script>
        <script type="text/javascript" src="../resources/js/easytimer.min.js"></script>
        <script type="text/javascript" src="../resources/js/utils.js"></script>
        <script type="text/javascript" src="../resources/js/autoNumeric.js"></script>
        <script type="text/javascript" src="../resources/js/alertify.min.js"></script>
        <script type="text/javascript" src="../resources/js/construyeSuenos.js" charset="utf-8"></script>
    </head>
    <body class="sueno-bckgr">
        <!-- Navigation Arrows -->
        <div class="nav-arrows">
            <!-- Up & Down -->
        </div>
        <!-- Main Content -->
        <div class="content flex-div">
            <nav></nav>

            <section id="main-section">
                <!-- BBVA Activity Title -->
                <header>
                    <div class="bbva-content">
                        <div class="btn-rtrn-cnt">
                            <!-- Return Button -->
                            <a href="../index.html">
                                <div class="btn-rtrn cnt-h50 bbva-font-book">
                                    <div class="rtrn-arrw-cnt pull-left">
                                        <img class="vertical-align" src="../resources/img/icons/Ico_flecha_regresar.png" alt="" />
                                    </div>
                                    <div class="rtrn-txt-cnt pull-left">
                                        <div class="rtrn-txt vertical-align">
                                            Regresa a Actividades
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Activity/Calculator icon -->
                        <div class="ttl-ico-cnt">
                            <img class="ttl-ico" src="../resources/img/icons/home/Ico_Menu_Construye_Suenos.svg" alt="" />
                        </div>
                        <!-- Activity/Calculator title -->
                        <div class="ttl-txt-cont">
                            <div class="main-ttl-activity">
                                <p>
                                    ¡Construye tus sueños!
                                </p>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Here's where Magic happens -->
                <article>
                    <div class="bbva-content">
                        <div class="lit-row">
                            <hr class="bbva-separator-full">
                            <div id="instructionsContent" class="main-dsc-activity">
                                <p>
                                    ¿Alguna vez has tenido un sueño? ¿Necesitaste dinero para él? ¿Qué hiciste para conseguirlo? ¿Ahorraste?
                                </p>
                                <p>
                                    En este simulador mágico podrás construir tu sueño. Esto tardará 3 años, lo equivalente a 3 rondas en las que deberás
                                    comprar los artículos para construirlo.
                                </p>
                                <p>
                                    Se te otorgarán $1,000 para utilizarlos en las 3 rondas. Sólo puedes comprar 2 artículos por año. <br> ¡Suerte!
                                </p>
                            </div>
                        </div>
                        <div class="lit-row topMargin100">
                            <button id="btnStart" class="blue-bbva-button-s" type="button" name="button">Comenzar</button>
                        </div>
                    </div>

                    <div id="btns_cnt" class="bbva-content">
                        <div class="lit-row">
                            <div class="main-ttl-activity">
                                <p>
                                    Escoge tu sueño
                                </p>
                            </div>
                        </div>
                        <div class="lit-row">
                            <div class="cmn-block puzzle-btn-cnt">
                                <div class="cmn-blck">
                                    <div class="thrty-clmn-lwys">
                                        <div id="btnCasa" class="btn-suenos btn-sueno-casa">

                                        </div>
                                    </div>
                                    <div class="thrty-clmn-lwys">
                                        <div id="btnAuto" class="btn-suenos btn-sueno-auto">

                                        </div>
                                    </div>
                                    <div class="thrty-clmn-lwys">
                                        <div id="btnCohete" class="btn-suenos btn-sueno-cohete">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- House Dream -->
                    <div id="mainDream" class="bbva-content-fluid">
                        <div class="lit-row topMargin20">
                            <!-- Dream Table 1 -->
                            <div  id="dreamTable" class="cmn-block cnt-relative year-cnt">
                                <!-- Title -->
                                <div class="lit-row">
                                    <div class="ttl-txt-cont">
                                        <div class="main-ttl-activity">
                                            <p id="yearTitle">
                                                Año 1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Counters -->
                                <div id="counterBlock" class="cmn-block counter-block-b">
                                    <div class="counter-cnt">
                                        <div class="lit-row">
                                            <span class="counter-ttl">Presupuesto:</span><br>
                                            <span id="dreamBudget" class="counter-qnty">$1,000</span>
                                        </div>
                                        <div class="lit-row topMargin10">
                                            <span class="counter-ttl">Te quedan:</span><br>
                                            <input id="dreamYear" class="bbva-output-alfa auto numeric bbva-dnt counter-qnty" data-v-min="0" data-v-max="1000">
                                        </div>
                                        <div class="lit-row topMargin10">
                                            <button id="btnNxtYear" class="blue-bbva-button-full" type="button" name="button">Siguiente año</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="cmn-block">
                                    <div class="sxty-clmn">
                                        <!-- Table Header -->
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full padding-lf-mid">
                                                <div class="cmn-block">
                                                    <div class="bbva-blue-nrml cnt-h40">
                                                        <div class="dnts-ttl vertical-align">
                                                            Insumos
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-nrml cnt-h40">
                                                            <div class="dnts-ttl vertical-align">
                                                                Precio
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-nrml cnt-h40">
                                                            <div class="dnts-ttl vertical-align">
                                                                Cantidad
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- First Row -->
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_1" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_1"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_1"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_1" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_2" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_2"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_2"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_2" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_3"class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_3"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_3"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_3" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_4" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_4"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_4"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_4" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_5" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_5"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_5"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_5" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_6" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_6"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_6"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_6" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_7" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_7"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_7"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_7" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_8" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_8"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_8"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_8" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lit-row">
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="item-cnt-sueno">
                                                                <div id="ditem_9" class="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <span id="dtitle_9"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys-full">
                                                <div class="cmn-block">
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                $<span id="dprice_9"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mid-clmn-lwys">
                                                        <div class="bbva-blue-lghtr cnt-h80">
                                                            <div class="sueno-ttl vertical-align">
                                                                <div class="cmn-block">
                                                                    <input type="checkbox" value="1" class="check_box sueno_check" id="dcheck_9" name="elem">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="frty-clmn">
                                        <!-- Items Table -->
                                        <div class="lit-row">
                                            <div class="cmn-block mesa-cnt">
                                                <div class="mesa-img-cnt cnt-relative">
                                                    <div class="mesa-sqrs-cnt cnt-absolute">
                                                        <div id="dreamR" class="mesa-sqrs cnt-relative">

                                                        </div>
                                                    </div>
                                                    <div class=" cnt-relative">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--Feedback -->
                        <div class="lit-row">
                            <div id="firstFeed" class="cmn-block topMargin60">
                                <div class="lit-row">
                                    <!-- Feedback container -->
                                    <div class="fdbk-cnt-mic cmn-block bbva-blue-lghtr cnt-p20">
                                        <div class="fdbk-txt-cnt-full">
                                            <div class="fdbk-txt-book">
                                                <article>
                                                    <p>
                                                        ¡Vaya! Compraste cosas útiles para tu <span id="spanDream"></span> pero no lograste construirla.
                                                    </p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="fdbk-cnt-medium bbva-blue-lghtr cnt-p20 topMargin20">
                                        <div class="fdbk-img-cnt">
                                            <img class="fdbk-img vertical-align" src="../resources/img/activity_suenos/Feedback_1.svg" alt="" />
                                        </div>
                                        <div class="fdbk-txt-cnt">
                                            <div class="fdbk-txt-book vertical-align">
                                                <article>
                                                    <p>
                                                        Ya no te alcanzó tu presupuesto. Como puedes ver, cada año el precio de los insumos aumenta.
                                                    </p>
                                                    <p>
                                                        Al aumento de los precios se le llama inflación.
                                                    </p>
                                                    <p>
                                                        Es importante priorizar y comprar tus necesidades antes de tus gustos, sobretodo en periodos de inflación alta.
                                                    </p>
                                                    <p>
                                                        Vuelve a intentarlo tomando en cuenta tu meta y la inflación.
                                                    </p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="secondFeed" class="cmn-block topMargin60">
                                <div class="lit-row">
                                    <!-- Feedback container -->
                                    <div class="fdbk-cnt-mic cmn-block bbva-blue-lghtr cnt-p20">
                                        <div class="fdbk-txt-cnt-full">
                                            <div class="fdbk-txt-book">
                                                <article>
                                                    <p>
                                                        ¡Vaya! Por el aumento en precios no lograste comprar todos los accesorios para tu <span id="spanDream"></span>, pero al menos lograste tener lo esencial.
                                                    </p>
                                                    <p>
                                                        ¡Felicidades por priorizar tus compras!
                                                    </p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="fdbk-cnt-medium bbva-blue-lghtr cnt-p20 topMargin20">
                                        <div class="fdbk-img-cnt">
                                            <img class="fdbk-img vertical-align" src="../resources/img/activity_suenos/Feedback_1.svg" alt="" />
                                        </div>
                                        <div class="fdbk-txt-cnt">
                                            <div class="fdbk-txt-book vertical-align">
                                                <article>
                                                    <p>
                                                        Ya no te alcanzó tu presupuesto. Como puedes ver, cada año el precio de los insumos aumenta.
                                                    </p>
                                                    <p>
                                                        Esto tuvo un impacto en tu meta.
                                                    </p>
                                                    <p>
                                                        Al aumento de los precios se le llama inflación.
                                                    </p>
                                                    <p>
                                                        Es importante priorizar y comprar tus necesidades antes de tus gustos, sobretodo en periodos de inflación alta.
                                                    </p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="finalFeed" class="cmn-block topMargin60">
                                <div class="lit-row">
                                    <div class="cmn-block img-block">
                                        <img id="finalImage" src="" alt="">
                                    </div>
                                </div>
                                <div class="lit-row topMargin20">
                                    <div class="cmn-block">
                                        <div class="lit-row">
                                            <!-- Feedback container -->
                                            <div class="fdbk-cnt-medium bbva-blue-lghtr cnt-p20">
                                                <div class="fdbk-img-cnt">
                                                    <img class="fdbk-img vertical-align" src="../resources/img/activity_suenos/Feedback_2.svg" alt="" />
                                                </div>
                                                <div class="fdbk-txt-cnt">
                                                    <div class="fdbk-txt-book vertical-align">
                                                        <article>
                                                            <p>
                                                                Como te habrás dado cuenta, los precios aumentaron considerablemente en cada ronda, por la inflación.
                                                            </p>
                                                            <p>
                                                                La inflación es el aumento generalizado de los precios. Para una economía saludable, es necesario mantener una inflación baja y estable.
                                                            </p>
                                                            <p>
                                                                Cuando la inflación es muy alta no sólo afecta nuestras compras actuales, sino también las futuras, y nuestras metas.
                                                            </p>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="cmn-block topMargin40">
                                <button id="btnSecondR" class="blue-bbva-button-s" type="button" name="button">Ir a la Ronda 2</button>
                                <button id="btnFinalFeed" class="blue-bbva-button-s" type="button" name="button">Siguiente</button>
                                <div class="lit-row">
                                    <button id="btnRestart" class="blue-bbva-button-s topMargin40" type="button" name="button">Volver a jugar</button>
                                    <a href="../index.html">
                                        <button id="btnClose" class="blue-bbva-button-s topMargin40" type="button" name="button">Salir</button>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </article>

                <footer></footer>

            </section>

            <aside></aside>

        </div>
    </body>
</html>
