<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
        <meta name="theme-color" content="#0097CE"/>
        <title>Construye tus sueños</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/componentsStyle.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/activities.css">
        <!-- Scripts -->
        <script type="text/javascript" src="../resources/js/Frameworks/Jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../resources/js/easytimer.min.js"></script>
        <script type="text/javascript" src="../resources/js/viajeEspacio.js" charset="utf-8"></script>
    </head>
    <body class="sueno-bckgr">
        <!-- Main Content -->
        <div class="content flex-div">
            <nav></nav>

            <section id="main-section">
                <!-- BBVA Activity Title -->
                <header>
                    <div class="bbva-content">
                        <div class="btn-rtrn-cnt">
                            <!-- Return Button -->
                            <a href="../index.html">
                                <div class="btn-rtrn cnt-h50 bbva-font-book">
                                    <div class="rtrn-arrw-cnt pull-left">
                                        <img class="vertical-align" src="../resources/img/icons/Ico_flecha_regresar.png" alt="" />
                                    </div>
                                    <div class="rtrn-txt-cnt pull-left">
                                        <div class="rtrn-txt vertical-align">
                                            Regresa a Actividades
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Activity/Calculator icon -->
                        <div class="ttl-ico-cnt">
                            <img class="ttl-ico" src="../resources/img/icons/home/Ico_Menu_Fiesta.svg" alt="" />
                        </div>
                        <!-- Activity/Calculator title -->
                        <div class="ttl-txt-cont">
                            <div class="main-ttl-activity">
                                <p>
                                    Construye tus sueños
                                </p>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Here's where Magic happens -->
                <article>
                    <div class="bbva-content">
                        <div class="lit-row">
                            <hr class="bbva-separator-full">
                            <div id="instructionsContent" class="main-dsc-activity">
                                <p>
                                    ¿Alguna vez has tenido un sueño? ¿Necesitaste dinero para él? ¿Qué hiciste para conseguirlo? ¿Ahorraste?
                                </p>
                                <p>
                                    En este simulador mágico podrás construir tu sueño. Esto tardará 3 años, lo equivalente a 3 rondas en las que deberás
                                    comprar los artículos para construirlo.
                                </p>
                                <p>
                                    Se te otorgarán $1,000 para utilizarlos en las 3 rondas. Sólo puedes comprar 2 artículos por año. <br> ¡Suerte!
                                </p>
                                <p>
                                    Escoge tu sueño
                                </p>
                            </div>
                        </div>

                        <div class="lit-row topMargin100">
                            <div class="cmn-blck">
                                <div class="thrty-clmn-lwys">
                                    <div id="btnCasa" class="btn-suenos btn-sueno-casa">

                                    </div>
                                </div>
                                <div class="thrty-clmn-lwys">
                                    <div id="btnAuto" class="btn-suenos btn-sueno-auto">

                                    </div>
                                </div>
                                <div class="thrty-clmn-lwys">
                                    <div id="btnCohete" class="btn-suenos btn-sueno-cohete">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- House Dream -->
                    <div class="bbva-content-fluid">
                        <div class="lit-row topMargin20">
                            <!-- House Year 1 -->
                            <div class="cmn-block cnt-relative year-cnt">
                                <!-- Table Header -->
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full padding-lf-mid">
                                        <div class="cmn-block">
                                            <div class="bbva-blue-nrml cnt-h40">
                                                <div class="dnts-ttl vertical-align">
                                                    Insumos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Precio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Cantidad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- First Row -->
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Carrocería
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Velocímetro
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Volante
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Cajuela
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Puerta
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Asiento
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        LLanta
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Estereo
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        $200
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <input id="estereo_y1" placeholder="0" name="" type="number" max="1" min="0" maxlength="2" class="input-sueno" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Parabrisas
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        $50
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <input id="parabrisas_y1" placeholder="0" name="" type="number" max="1" min="0" maxlength="2" class="input-sueno" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- House Year 2 -->
                            <!-- House Year 3 -->

                        </div>
                    </div>
                    <!-- Car Dream -->
                    <div class="bbva-content-fluid">
                        <div class="lit-row topMargin20">
                            <!-- Car Year 1 -->
                            <div class="cmn-block cnt-relative year-cnt">
                                <!-- Table Header -->
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full padding-lf-mid">
                                        <div class="cmn-block">
                                            <div class="bbva-blue-nrml cnt-h40">
                                                <div class="dnts-ttl vertical-align">
                                                    Insumos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Precio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Cantidad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- First Row -->
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- Car Year 2 -->
                            <!-- Car Year 3 -->

                        </div>

                    </div>
                    <!-- Rocket Dream -->
                    <div class="bbva-content-fluid">
                        <div class="lit-row topMargin20">
                            <div class="cmn-block cnt-relative year-cnt">
                                <!-- Table Header -->
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full padding-lf-mid">
                                        <div class="cmn-block">
                                            <div class="bbva-blue-nrml cnt-h40">
                                                <div class="dnts-ttl vertical-align">
                                                    Insumos
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Precio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-nrml cnt-h40">
                                                    <div class="dnts-ttl vertical-align">
                                                        Cantidad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- First Row -->
                                <div class="lit-row">
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        <div class="item-cnt">
                                                            <div class="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mid-clmn-lwys-full">
                                        <div class="cmn-block">
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mid-clmn-lwys">
                                                <div class="bbva-blue-lghtr cnt-h80">
                                                    <div class="sueno-ttl vertical-align">
                                                        Pizza
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </article>

                <footer></footer>

            </section>

            <aside></aside>

        </div>
    </body>
</html>
