<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
        <meta name="theme-color" content="#0097CE"/>
        <title>Navega en el espacio</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/componentsStyle.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/activities.css">
        <!-- Scripts -->
        <script type="text/javascript" src="../resources/js/Frameworks/Jquery/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="../resources/js/navArrows.js"></script>
        <script type="text/javascript" src="../resources/js/easytimer.min.js"></script>
        <script type="text/javascript" src="../resources/js/utils.js"></script>
        <script type="text/javascript" src="../resources/js/navegaEspacio.js" charset="utf-8"></script>
    </head>
    <body class="body-bckgr puzzles-bckgr">
        <!-- Navigation Arrows -->
        <div class="nav-arrows">
            <!-- Up & Down -->
        </div>
        <!-- Main Content -->
        <div class="content flex-div">
            <nav></nav>

            <section id="main-section">
                <!-- BBVA Activity Title -->
                <header>
                    <div class="bbva-content">
                        <div class="btn-rtrn-cnt">
                            <!-- Return Button -->
                            <a href="../index.html">
                                <div class="btn-rtrn cnt-h50 bbva-font-book">
                                    <div class="rtrn-arrw-cnt pull-left">
                                        <img class="vertical-align" src="../resources/img/icons/Ico_flecha_regresar.png" alt="" />
                                    </div>
                                    <div class="rtrn-txt-cnt pull-left">
                                        <div class="rtrn-txt vertical-align">
                                            Regresa a Actividades
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Activity/Calculator icon -->
                        <div class="ttl-ico-cnt">
                            <img class="ttl-ico" src="../resources/img/icons/home/Ico_Menu_Fiesta.svg" alt="" />
                        </div>
                        <!-- Activity/Calculator title -->
                        <div class="ttl-txt-cont">
                            <div class="main-ttl-activity">
                                <p>
                                    Navega en el espacio
                                </p>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Here's where Magic happens -->
                <article>
                    <div class="bbva-content">
                        <div class="lit-row">
                            <hr class="bbva-separator-full">
                            <div id="instructionsContent" class="main-dsc-activity">
                                <p>
                                    ¿Te gustaría tener una máquina de billetes? ¿Sabías que sí existe? El Banco Central es el encargado de
                                    hacer los billetes y monedas de una economía. Es una tarea que requiere mucha responsabilidad,
                                    pues debe mantener un equilibrio para que no genere inflación. ¿Quieres intentarlo?
                                </p>
                                <p>
                                    Mantén en equilibrio tu vehículo ejercitando tu memoria
                                </p>
                            </div>
                        </div>

                        <div class="lit-row topMargin100">
                            <button id="btnNext" class="blue-bbva-button-s" type="button" name="button">Siguiente</button>
                        </div>
                    </div>

                    <div id="btnsContent" class="bbva-content">
                        <div class="lit-row">
                            <div class="main-ttl-activity">
                                <p>
                                    Elige tu vehículo:
                                </p>
                            </div>
                        </div>
                        <div class="lit-row">
                            <div class="cmn-block puzzle-btn-cnt">
                                <div class="cmn-block">
                                    <div class="thrty-clmn-lwys">
                                        <div id="spaceBtn" class="puzzle-btn space-btn">

                                        </div>
                                    </div>
                                    <div class="thrty-clmn-lwys">
                                        <div id="planeBtn" class="puzzle-btn plane-btn">

                                        </div>

                                    </div>
                                    <div class="thrty-clmn-lwys">
                                        <div id="unicornBtn" class="puzzle-btn unicorn-btn">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="difContent" class="bbva-content">
                        <div class="lit-row">
                            <!-- Difficulty Selection -->
                            <div class="cmn-block puzzle-box">
                                <div class="lit-row">
                                    <div id="vehicle" class="vehicle-cnt">
                                        <img src="" alt="your vehicle.png">
                                    </div>

                                </div>
                                <div class="lit-row">
                                    <h3 class="dnts-ttl">¿Qué nivel de dificultad quieres?</h3>
                                </div>

                                <!--  -->
                                <div class="lit-row">
                                    <div class="thrty-clmn-lwys">
                                        <div id="btnEasy" class="puzzle-btn easy-dif-btn">

                                        </div>
                                    </div>
                                    <div class="thrty-clmn-lwys">
                                        <div id="btnMedium" class="puzzle-btn medium-dif-btn">

                                        </div>
                                    </div>
                                    <div class="thrty-clmn-lwys">
                                        <div id="btnHard" class="puzzle-btn hard-dif-btn">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="codesContent"class="bbva-content">
                        <!-- Chronometer -->
                        <div class="lit-row">
                            <div class="cmn-block">
                                <div class="code-timer-cnt">
                                    <div class="cmn-block">
                                        <div id="codeTimer" class="chrnmtr">
                                            <div class="cnt-expand">
                                                <div class="vertical-align values topMargin10">
                                                    00:60
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Rdar Images -->
                        <div class="lit-row">
                            <div class="radar-cnt cmn-block cnt-relative center-stuff">
                                <div id="pointer" class="radar-pointer cmn-block">

                                </div>
                            </div>
                        </div>
                        <!-- Feedbacks -->
                        <div class="lit-row">
                            <div class="cmn-block topMargin40">
                                <div id="mainFeed" class="fdbck-min bbva-blck-alfa">
                                    <span class="dnts-ttl">
                                        Tienes un minuto para memorizar 5 códigos que mantendrán en equilibrio tu vehículo.
                                    </span>
                                </div>
                                <!-- instructions Feed -->
                                <div id="instructionFeed" class="fdbck-min">
                                    <span class="dnts-ttl">
                                        Observa y recuerda el código
                                    </span>
                                </div>
                                <!-- Fail Feed -->
                                <div id="failFeedA" class="fdbck-min bbva-blck-alfa">
                                    <span class="dnts-ttl">
                                        ¡Cuidado! tu vehículo está perdiendo equilibrio, sé más cuidadoso en tus respuestas.
                                    </span>
                                </div>
                                <!-- Win Feed -->
                                <div id="winFeedA" class="fdbck-min bbva-blck-alfa">
                                    <span class="dnts-ttl">
                                        ¡Bien contestado!, continúa así y mantén en equilibrio tu vehículo
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Codes -->
                        <div class="lit-row">
                            <div class="cmn-block topMargin40">
                                <div id="genCode" class="lit-row codes-example">

                                </div>
                                <div id="userCode" class="lit-row codes-row">
                                    <!-- Code Inputs here -->
                                </div>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="lit-row">
                            <div class="cmn-block topMargin40">
                                <button id="btnStart" class="blue-bbva-button-s" type="button" name="button">Comenzar</button>
                                <button id="btnContinue" class="blue-bbva-button-s" type="button" name="button">Continuar</button>
                            </div>
                        </div>
                        <!-- Final Results -->
                        <div class="lit-row">
                            <div id="finalSuccess" class="cmn-block topMargin40">
                                <div class="lit-row">

                                </div>
                                <div class="lit-row">
                                    <div class="fdbck-min bbva-blck-alfa">
                                        <span class="dnts-ttl">
                                            ¡Felicidades! Tus decisiones acertadas llevaron tu vehículo a su destino.
                                        </span>
                                    </div>
                                    <!-- instructions Feed -->
                                    <div class="fdbck-min bbva-blck-alfa topMargin20">
                                        <span class="dnts-ttl">
                                            Como tú, el Banco Central tiene la responsabilidad de mantener el equilibrio entre el
                                            crecimiento económico de un país y la inflación, para que se mantenga baja y estable.
                                        </span>
                                    </div>
                                </div>
                                <div class="lit-row topMargin20">
                                    <button  class="blue-bbva-button-s" type="button" name="button">Volver a jugar</button>
                                    <button  class="blue-bbva-button-s" type="button" name="button">Salir</button>
                                </div>
                            </div>
                            <div id="finalFail" class="cmn-block topMargin40">
                                <div class="lit-row">

                                </div>
                                <div class="lit-row">
                                    <div class="fdbck-min bbva-blck-alfa">
                                        <span class="dnts-ttl">
                                            ¡Lo sentimos! Acabas de perder tu vehículo, vuelve a intentarlo y conviértete en experto.
                                        </span>
                                    </div>
                                    <!-- instructions Feed -->
                                    <div class="fdbck-min bbva-blck-alfa topMargin20">
                                        <span class="dnts-ttl">
                                            Como tú, el Banco Central tiene la responsabilidad de mantener el equilibrio entre el
                                            crecimiento económico de un país y la inflación, para que se mantenga baja y estable.
                                        </span>
                                    </div>
                                </div>
                                <div class="lit-row topMargin20">
                                    <button  class="blue-bbva-button-s" type="button" name="button">Volver a jugar</button>
                                    <button  class="blue-bbva-button-s" type="button" name="button">Salir</button>

                                </div>

                            </div>
                        </div>
                    </div>

                </article>

                <footer></footer>

            </section>

            <aside></aside>

        </div>
    </body>
</html>
