<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=0, width=device-width, height=device-height"/>
        <meta name="theme-color" content="#0097CE"/>
        <title>Arma tu fiesta</title>
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/componentsStyle.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/activities.css">

        <!-- Scripts -->
    </head>
    <body class="espacio-bckgr">
        <!-- Main Content -->
        <div class="content flex-div">
            <nav></nav>

            <section id="main-section">
                <!-- BBVA Activity Title -->
                <header>
                    <div class="bbva-content">
                        <div class="btn-rtrn-cnt">
                            <!-- Return Button -->
                            <a href="../index.html">
                                <div class="btn-rtrn cnt-h50 bbva-font-book">
                                    <div class="rtrn-arrw-cnt pull-left">
                                        <img class="vertical-align" src="../resources/img/icons/Ico_flecha_regresar.png" alt="" />
                                    </div>
                                    <div class="rtrn-txt-cnt pull-left">
                                        <div class="rtrn-txt vertical-align">
                                            Regresa a Actividades
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Activity/Calculator icon -->
                        <div class="ttl-ico-cnt">
                            <img class="ttl-ico" src="../resources/img/icons/home/Ico_Menu_Fiesta.svg" alt="" />
                        </div>
                        <!-- Activity/Calculator title -->
                        <div class="ttl-txt-cont">
                            <div class="main-ttl-activity">
                                <p>
                                    Navega en el espacio
                                </p>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Here's where Magic happens -->
                <article>
                    <div class="bbva-content">
                        <div class="lit-row">
                            <hr class="bbva-separator-full">
                            <div class="main-dsc-activity">
                                <p>
                                    ¿Te gustaría tener una máquina de billetes? ¿Sabías que sí existe? El Banco Central es el encargado de hacer los billetes y monedas de una economía.
                                    Pero no es tan fácil como crees. Es una tarea que requiere mucha responsabilidad, pues debe mantener un equilibrio para que no genere inflación.
                                </p>
                                <br><br>
                                <p>
                                    A continuación pondrás en práctica un ejercicio de inteligencia y precisión, como el que debe tener el Banco Central al cuidar la inflación.
                                </p>
                            </div>
                        </div>

                        <div class="lit-row topMargin100">
                            <button id="btnNext" class="blue-bbva-button-s" type="button" name="button">Siguiente</button>
                        </div>
                    </div>

                    <div class="bbva-content-fluid">
                        <div class="lit-row">

                        </div>

                    </div>

                </article>

                <footer></footer>

            </section>

            <aside></aside>

        </div>
    </body>
</html>
